

#navbar-logo {
    color: white;
    justify-self: anchor-center;
    margin-left: 20px;
    font-size: 100px;
    margin-bottom: 10px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

#subtitle {
    color: white;
    justify-self: anchor-center;
    margin-left: 20px;
    font-size: 40px;
    margin-top: 0;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.nav-links {
    color: white;
    font-size: 25px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
}

.nav-menu {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 20px;
    justify-self: anchor-center;
}

#landing {
    background-color: black;
}

.threejs-container {
  width: 100%;
  height: 100%;
}

.subpage {
    color: white;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

ul > li {
    position: sticky;
    list-style-type: none;
    float: right;
    display: inline;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}